.why-us{
    background: url(../img/why-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding-bottom: 25rem;

    @media only screen and (max-width: $tab-port){
        background: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .8)), url(../img/header-bg2.png);
        padding-bottom: 8rem;
    }
 
    h2{ 
        color: #fff;
    }
    p.p__text{
        margin-bottom: 4rem;
        @media only screen and (max-width: $tab-port){
            br{
                display: none;
            }
            margin-bottom: 3rem;
        }
    }

    .col{
        
        img{
            height: 100px;
        }

        @media only screen and (max-width: $tab-port){
            margin-bottom: 4rem;
            flex: 0 0 100%;
        }
    }
}